  <% if current_user %>
    <p>Welcome, <%= current_user.email %>!</p>
    <%= link_to "Logout", auth.sign_out_path %>
  <% end %>
<div data-controller="todos">
  <h1>Todos</h1>

  <div data-target="todos.todos">
    <%= render @todos %>
  </div>

  <h2>New Todo</h2>
<%= render "form", todo: :@todo %>

</div>