<%= form_with model: @session, url: send(Passwordless.mounted_as).sign_in_path, data: { turbo: 'false'}, class: "form" do |f| %>
  <% email_field_name = :"passwordless[#{@email_field}]" %>
  <div class="form-group">
    <%= label_tag email_field_name, "Email", class: "form-label" %>
    <%= text_field_tag email_field_name, params.fetch(email_field_name, nil), required: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit I18n.t('passwordless.sessions.new.submit'), class: "btn btn-primary" %>
  </div>
<% end %>